<div class="modal fade" id="loginSignupModal" tabindex="-1" aria-labelledby="loginSignupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="row">
                <div class="col-5">
                    <img class="img-fluid" src="~/images/mobile-2565776.jpg" />
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="col-8">
                            <h2 class="fw-bold">Welcome Back To</h2>
                            <h1 class="fw-bold">Prince Mobile Collection</h1>
                        </div>
                        <div class="col-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
