<div ng-controller="accountCtrl">
    <div class="modal fade" id="loginSignupModal" tabindex="-1" aria-labelledby="loginSignupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginSignupModalLabel">Login / Signup</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="loginSignupTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab" aria-controls="signup" aria-selected="false">Signup</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="loginSignupTabContent">
                        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                            <form name="signupForm" ng-submit="upsertSiteUser()" novalidate>
                                <div class="mb-3" ng-class="{'has-error': signupForm.Email.$invalid && signupForm.Email.$touched}">
                                    <label for="signupEmail" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="signupEmail" name="Email" ng-model="signupData.Email" required>
                                    <div ng-show="signupForm.Email.$invalid && signupForm.Email.$touched" class="text-danger">
                                        Email is required and must be valid.
                                    </div>
                                </div>
                                <div class="mb-3" ng-class="{'has-error': signupForm.Password.$invalid && signupForm.Password.$touched}">
                                    <label for="signupPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="signupPassword" name="Password" ng-model="signupData.Password" required>
                                    <div ng-show="signupForm.Password.$invalid && signupForm.Password.$touched" class="text-danger">
                                        Password is required.
                                    </div>
                                </div>
                                <div class="mb-3" ng-class="{'has-error': signupForm.ConfirmPassword.$invalid && signupForm.ConfirmPassword.$touched}">
                                    <label for="signupConfirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="signupConfirmPassword" name="ConfirmPassword" ng-model="signupData.ConfirmPassword" required>
                                    <div ng-show="signupForm.ConfirmPassword.$invalid && signupForm.ConfirmPassword.$touched" class="text-danger">
                                        Confirm Password is required.
                                    </div>
                                    <div ng-show="signupData.Password !== signupData.ConfirmPassword && signupForm.ConfirmPassword.$touched" class="text-danger">
                                        Passwords do not match!
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid || signupData.Password !== signupData.ConfirmPassword">Signup</button>
                                <div ng-show="message" class="mt-2">{{ message }}</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
